body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(135deg, #9945FF, #14F195);
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;
  color: #ffffff; /* White text */
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.btn {
  background-color: #14F195; /* Solana green */
  color: #121212; /* Dark background */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
